appdirs==1.4.4
attrs==20.2.0
black==20.8b1
click==7.1.2
fancycompleter==0.9.1
flake8==3.8.4
flake8-debugger==3.2.1
flake8-isort==4.0.0
flake8-print==3.1.4
flake8-quotes==3.2.0
iniconfig==1.1.1
isort==5.6.4
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
packaging==20.4
pathspec==0.8.0
pdbpp==0.10.2
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.2
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.1.2
pytest-asyncio==0.14.0
regex==2020.10.28
six==1.15.0
testfixtures==6.15.0
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
wmctrl==0.3
